* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: "BRUSHSTRIKE";
  src: url("./fonts/Brushstriketrial.otf") format("opentype"), url("./fonts/Brushstriketrial.svg") format("svg"), url("./fonts/Brushstriketrial.ttf") format("truetype"), url("./fonts/Brushstriketrial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes glitch {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    color: white;
  }
  35% {
    color: hotpink;
    font-style: italic;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    color: cyan;
    font-style: normal;
    -webkit-transform: translateY(-15px) translateX(10px);
            transform: translateY(-15px) translateX(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    color: black;
  }
}

@keyframes glitch {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    color: white;
  }
  35% {
    color: hotpink;
    font-style: italic;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    color: cyan;
    font-style: normal;
    -webkit-transform: translateY(-15px) translateX(10px);
            transform: translateY(-15px) translateX(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    color: black;
  }
}

@-webkit-keyframes glitch2 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    color: white;
  }
  35% {
    color: hotpink;
    font-style: italic;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    color: cyan;
    font-style: normal;
    -webkit-transform: translateY(-15px) translateX(10px);
            transform: translateY(-15px) translateX(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    color: black;
  }
}

@keyframes glitch2 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    color: white;
  }
  35% {
    color: hotpink;
    font-style: italic;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    color: cyan;
    font-style: normal;
    -webkit-transform: translateY(-15px) translateX(10px);
            transform: translateY(-15px) translateX(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    color: black;
  }
}

@-webkit-keyframes splash {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: black;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: black;
  }
  93% {
    background: white;
  }
  96% {
    background: cyan;
  }
  100% {
    background: black;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes splash {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: black;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: black;
  }
  93% {
    background: white;
  }
  96% {
    background: cyan;
  }
  100% {
    background: black;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.splash {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: splash 1s ease forwards;
          animation: splash 1s ease forwards;
}

.splash h1 {
  font-family: "brushstrike";
  font-size: 7rem;
  font-weight: normal;
  color: white;
  -webkit-animation: glitch 0.2s 2 none;
          animation: glitch 0.2s 2 none;
}

.background-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.container {
  height: 100vh;
  width: 100vw;
  -webkit-animation: glitch 0.1s 1.1s both;
          animation: glitch 0.1s 1.1s both;
}

.container__title {
  position: absolute;
  top: 10vh;
  left: 15vw;
  font-family: "brushstrike";
  font-size: 3rem;
  -webkit-animation: glitch 0.1s both 1.3s 2;
          animation: glitch 0.1s both 1.3s 2;
}

.container__item {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-animation: splash 0.3s ease 1.3s none;
          animation: splash 0.3s ease 1.3s none;
}

.container__item p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: -10px;
  text-transform: initial;
}

.container__item.active {
  -webkit-animation: glitch 0.1s both;
          animation: glitch 0.1s both;
}

.container__item--a {
  top: 35vh;
  left: 10vw;
}

.container__item--s {
  top: 45vh;
  left: 70vw;
}

.container__item--d {
  top: 65vh;
  left: 25vw;
  -webkit-animation: glitch2 0.1s none 1.2s;
          animation: glitch2 0.1s none 1.2s;
}

.container__item--f {
  top: 25vh;
  left: 80vw;
  -webkit-animation: glitch2 0.2s none 1.4s 2;
          animation: glitch2 0.2s none 1.4s 2;
}

.container__item--k {
  top: 75vh;
  left: 85vw;
}

.container__item--space {
  top: 45vh;
  left: 0vw;
}

.container__item--space p {
  margin: 0 0 0 10px;
}
